<form action="/api/admins/adminReg" method="POST">
    <input name="name" type="text" />
    <input name="email" type="email" />
    <input name="password" type="password" />
    <input name="department" type="text" />
    <input name="designation" type="text" />
    <button type="submit">submit</button>
</form>