<form action="/api/ce2/ce" method="POST">
    <input name="creatorId" type="text" />
    <input name="competitionName" type="text" />
    <input name="competitionDescription" type="text" />
    <input name="competitionStartDate" type="date" />
    <input name="competitionEndDate" type="date" />
    <button type="submit">submit</button>
</form>