<form action="/api/users/userReg" method="POST">
    <input name="name" type="text" />
    <input name="email" type="email" />
    <input name="password" type="password" />
    <input name="studentId" type="text" />
    <button type="submit">submit</button>
</form>